<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Films, out of the box, in everyday spaces.</h1>
  </div>
</div>
<section id="subheading">
  <div class="container">
    <p class="lead">
      Reelak helps you engage with today’s young, modern audience through a fresh and unique take on the cinematic experience.
    </p>
    <p class="lead">
      <a href="getting-started#download" class="btn btn-primary btn-lg">
        About Us
      </a>
    </p>
  </div>
</section>
<section id="services">
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Films</h2>
        <p>Quirky, stirring, unforgettable films, from the vast and diverse library that is international cinema.</p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Spaces</h2>
        <p>The cinema: uprooted, reimagined, and recreated within the context of everyday spaces.</p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
     </div>
      <div class="col-md-4">
        <h2>Experiences</h2>
        <p>Film, space, and everything in between: the signature Reelak experience, customised for you.</p>
        <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>
  </div> <!-- /container -->
</section>

<section id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Overheard about us</h2>
        <hr class="light">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <blockquote>
                <p>
                  "While cinemas will shelter you from the worst of the weather elements (read: the haze), they do next to nothing to enhance your sense of adventure. That’s where Reelak steps in."
                </p>
                <footer><cite title="The Business Times">The Business Times</cite></footer>
              </blockquote>
            </div>
            <div class="item">
              <blockquote>
                <p>
                  "While cinemas will shelter you from the worst of the weather elements (read: the haze), they do next to nothing to enhance your sense of adventure. That’s where Reelak steps in."
                </p>
                <footer><cite title="The Business Times">The Business Times</cite></footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--section id="event-reel">
  <div class="container">
    <div class="row text-center">
      <h2 class="section-heading">Event Reel</h2>
      <hr class="light">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <a href="#" class="thumbnail">
            <img src="https://unsplash.it/200?image=<%= Math.floor(Math.random() * 1084) %>" alt="Reelak Event">
          </a>
        </div>
        <div class="col-xs-12 col-md-4">
          <a href="#" class="thumbnail">
            <img src="https://unsplash.it/200?image=<%= Math.floor(Math.random() * 1084) %>" alt="Reelak Event">
          </a>
        </div>
        <div class="col-xs-12 col-md-4">
          <a href="#" class="thumbnail">
            <img src="https://unsplash.it/200?image=<%= Math.floor(Math.random() * 1084) %>" alt="Reelak Event">
          </a>
        </div>
        <div class="col-xs-12 col-md-4">
          <a href="#" class="thumbnail">
            <img src="https://unsplash.it/200?image=<%= Math.floor(Math.random() * 1084) %>" alt="Reelak Event">
          </a>
        </div>
        <div class="col-xs-12 col-md-4">
          <a href="#" class="thumbnail">
            <img src="https://unsplash.it/200?image=<%= Math.floor(Math.random() * 1084) %>" alt="Reelak Event">
          </a>
        </div>
        <div class="col-xs-12 col-md-4">
          <a href="#" class="thumbnail">
            <img src="https://unsplash.it/200?image=<%= Math.floor(Math.random() * 1084) %>" alt="Reelak Event">
          </a>
        </div>
      </div>
  </div>
</section-->

<!-- TODO: Partialize this -->
<section id="newsletter">
  <div class="container">
    <div class="row">
      <div class="col-md-6 reelak-ig">
        <div><img src="/images/carousel1.jpg" width="500" alt=""></div>
        <div><img src="/images/carousel2.jpg" width="500" alt=""></div>
        <div><img src="/images/carousel3.jpg" width="500" alt=""></div>
        <div><img src="/images/carousel4.jpg" width="500" alt=""></div>
      </div>
      <div class="col-md-6 newsletter-container">
        <h2>Subscribe to our newsletter!</h2>
        <p>
          Be the first the hear about our new offerings and keep up to date with
          our events.
        </p>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
          </div>
          <button type="submit" class="btn btn-primary">Sign up</button>
        </form>
      </div>
    </div>
  </div>
</section>
