<div class="nonhome-page">
  <section id="partner-cta">
    <div class="container">
      <button class="btn btn-primary btn-lg dropdown-toggle" type="button">
        Be our partner
      </button>
    </div>
  </section>

  <section id="film-partners">
    <div class="container">
      <div class="row text-center">
        <h2 class="section-heading">Film Partners</h2>
        <hr class="light">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <a href="#" class="thumbnail">
              <img src="https://unsplash.it/400?image=<%= Math.floor(Math.random() * 1084) %>" alt="Reelak Event">
            </a>
          </div>
          <div class="col-xs-12 col-md-4">
            <a href="#" class="thumbnail">
              <img src="https://unsplash.it/400?image=<%= Math.floor(Math.random() * 1084) %>" alt="Reelak Event">
            </a>
          </div>
          <div class="col-xs-12 col-md-4">
            <a href="#" class="thumbnail">
              <img src="https://unsplash.it/400?image=<%= Math.floor(Math.random() * 1084) %>" alt="Reelak Event">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="brand-partners">
    <div class="container">
      <div class="row text-center">
        <h2 class="section-heading">Brands</h2>
        <hr class="light">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <a href="#" class="thumbnail">
              <img src="https://unsplash.it/400?image=<%= Math.floor(Math.random() * 1084) %>" alt="Reelak Event">
            </a>
          </div>
          <div class="col-xs-12 col-md-4">
            <a href="#" class="thumbnail">
              <img src="https://unsplash.it/400?image=<%= Math.floor(Math.random() * 1084) %>" alt="Reelak Event">
            </a>
          </div>
          <div class="col-xs-12 col-md-4">
            <a href="#" class="thumbnail">
              <img src="https://unsplash.it/400?image=<%= Math.floor(Math.random() * 1084) %>" alt="Reelak Event">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="media-partners">
    <div class="container">
      <div class="row text-center">
        <h2 class="section-heading">Press</h2>
        <hr class="light">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <a href="#" class="thumbnail">
              <img src="https://unsplash.it/400?image=<%= Math.floor(Math.random() * 1084) %>" alt="Reelak Event">
            </a>
          </div>
          <div class="col-xs-12 col-md-4">
            <a href="#" class="thumbnail">
              <img src="https://unsplash.it/400?image=<%= Math.floor(Math.random() * 1084) %>" alt="Reelak Event">
            </a>
          </div>
          <div class="col-xs-12 col-md-4">
            <a href="#" class="thumbnail">
              <img src="https://unsplash.it/400?image=<%= Math.floor(Math.random() * 1084) %>" alt="Reelak Event">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
